.vscode
.DS_Store
__pycache__
**/*.pyc

data*/
jobs/
wandb/
logs/
trainingto/dflash_coma_checkpoints/
trainingto/dflash_distill_only/
trainingto/dflash_gto_checkpoints*/
trainingto/dflash_topk_checkpoints/
